<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="hello.js"></script>
    <style>
    table, th, td {
      border: 1px solid black;
    }

    th, td {
      min-width:150px;
    }

    hr.solid {
        border-top: 3px solid #bbb;
    }
    </style>
</head>
<body>

<h1>Form</h1>
<p>Name: <input id="addressbookName" type="text"/></p>
<button id="createBook" onclick="createBook()" type="submit" value="Submit">Submit</button>

<br/>

<div id="bookView">
<!--    <h1>Result</h1>-->
<!--    <p th:text="'This is an AddressBook object: ' + ${addressbook} + '!'" />-->
<!--    <p th:text="'AddressBook Id: ' + ${addressbook.id}" />-->
<!--    <p th:text="'AddressBook Name: ' + ${addressbook.name}" />-->

<!--    <p>Buddies contained in the Address Book:</p>-->
<!--    <table id="buddies-table">-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Name</th>-->
<!--            <th>Address</th>-->
<!--            <th>Phone Number</th>-->
<!--        </tr>-->
<!--        <tr th:id="${buddy.id}" th:each="buddy : ${addressbook.buddies}">-->
<!--            <td th:text="${buddy.id}"></td>-->
<!--            <td th:text="${buddy.name}"></td>-->
<!--            <td th:text="${buddy.address}"></td>-->
<!--            <td th:text="${buddy.phoneNumber}"></td>-->
<!--        </tr>-->
<!--    </table>-->

<!--    <br>-->

<!--    <p>Add a buddy to the address book: </p>-->
<!--    &lt;!&ndash;<form action="#" th:action="@{/addbuddyinfo}" th:object="${addbuddyinfo}" method="get">&ndash;&gt;-->
<!--    &lt;!&ndash;    <input style="visibility: none" type="text" th:field="*{bookID}" text="*{bookID}" />&ndash;&gt;-->
<!--    &lt;!&ndash;    <p>Name: <input id="addBuddyName" type="text" th:field="*{buddy.name}" /></p>&ndash;&gt;-->
<!--    &lt;!&ndash;    <p>Address: <input id="addBuddyAddress" type="text" th:field="*{buddy.address}" /></p>&ndash;&gt;-->
<!--    &lt;!&ndash;    <p>Phone number: <input id="addBuddyPhoneNumber" type="text" th:field="*{buddy.phoneNumber}" /></p>&ndash;&gt;-->
<!--    &lt;!&ndash;    <p><input id="buddySubmit" type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>&ndash;&gt;-->
<!--    &lt;!&ndash;</form>&ndash;&gt;-->

<!--    <form th:object="${buddyinfo}" >-->
<!--        <input id="bookID" style="display: none" type="text" th:field="${addressbook.id}" text="${addressbook.id}" />-->
<!--        <p>Name: <input id="addBuddyName" type="text" th:field="*{name}" /></p>-->
<!--        <p>Address: <input id="addBuddyAddress" type="text" th:field="*{address}" /></p>-->
<!--        <p>Phone number: <input id="addBuddyPhoneNumber" type="text" th:field="*{phoneNumber}" /></p>-->
<!--    </form>-->

<!--    <button id="buddySubmit" onclick="addBuddy()" type="submit" value="Submit" />-->

</div>

</body>
</html>